


        .pokemon-card {
            // width: 200px;
            // height: 200px;
            margin: 5px;
            img {
                width: 200px;
                height: 200px;
                    }
                
            button {
                        margin: 0px auto;
                        display: flex;
                        margin-bottom: 5px;
                    }
        
        }