.pokemon-cardlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

a {
    text-decoration: none;
    color: black;
}

button {
    text-align: center;
    margin: 2px;
    margin-bottom: 10px;
}
